<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"../mybatis-3-mapper.dtd">

<mapper namespace="com.classpick.web.aop.IAopRepository">

	<insert id="insertLog" parameterType="com.classpick.web.aop.Log">
		INSERT INTO logs (
			request_url,
            request_method,
            response_status,
            client_ip,
            request_time,
            response_time,
            service_name
		) VALUES (
			#{requestUrl},
            #{requestMethod},
            #{responseStatus},
            #{clientIp},
            #{requestTime},
            #{responseTime},
            #{serviceName}
		)
	</insert>
	
	<select id="getLogById" parameterType="long" resultType="com.classpick.web.aop.Log">
		SELECT
			log_id AS logId,
            request_url AS requestUrl,
            request_method AS requestMethod,
            response_status AS responseStatus,
            client_ip AS clientIp,
            request_time AS requestTime,
            response_time AS responseTime,
            service_name AS serviceName
        FROM logs
        WHERE log_id = #{logId}
	</select>
	
	<select id="getAllLogs" resultType="com.classpick.web.aop.Log">
		SELECT 
            log_id AS logId,
            request_url AS requestUrl,
            request_method AS requestMethod,
            response_status AS responseStatus,
            client_ip AS clientIp,
            request_time AS requestTime,
            response_time AS responseTime,
            service_name AS serviceName
        FROM logs
        ORDER BY request_time DESC
	</select>

</mapper>